rsync_server: ${rsyncServer}
rsync_user: ${rsyncUsername}
rsync_key: |
$(awk '{printf "  %s\n", $0}' < ${rsyncPrivateKey})
rsync_key_base64: $(base64 ${rsyncPrivateKey} | tr -d '\n')
slack_hook: ${slackWebhook}
github_access_token: ${githubToken}

# Overrides from defaults from default_parameters.yml
# slack_disabled: false
# generate_release_drafts: false
# concourse_env: breezeway
