rsync_server: ${rsyncServer}
rsync_user: ${rsyncUsername}
rsync_key: |
$(awk '{printf "  %s\n", $0}' < ${rsyncPrivateKey})
rsync_key_base64: $(base64 ${rsyncPrivateKey} | tr -d '\n')
slack_hook: ${slackWebhook}
slack_disabled: false
github_access_token: ${githubToken}
